*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 80%;
    margin: 200px auto;

    display: grid;
    grid-template-columns: repeat(16, 1fr)
}

.gridSquare{
    background-color: rgb(226, 51, 51);
    border: 2px solid black;
    padding-bottom: 100%
}