*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
}

/* container box */
.container{
    background-color: white;
    width: 500px;
    height: 500px;
    margin: 0px auto;
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr); 
    border: 2px solid black;
}


.pixelated{
    background-color: yellow;
}


/* button */
.button-container{
    width: auto;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px auto;
}

.clearButton{
    width: 100px;
    height: 45px;
    font-size: 20px;
    background-color: #4CAF50;
    color: #ffffff;
    cursor: pointer;
    border: none;
    box-shadow: 0 9px #999;
    border-radius: 15px;
    outline: none;
}

.clearButton:hover{
    background-color: #3e8e41;
}

.clearButton:active{
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}